# Problem Statement

**Problem Statement:**

1. In the past few years, prices of new cars have skyrocketed, due to which most people are incapable of buying a new one.
2. Customers buying a new car always looks for assurity of their money to be worthy.
3. But due to the increased price of new cars, used car sales are on a global increase (Pal, Arora and Palakurthy, 2018).
4. There is a need for a used car price prediction system to effectively determine the worthiness of the car using a variety of features.
5. The company has earned its name because of sincerity in work and quality of services.
6. But for past few months their sales is down for some reason and they are unable to figure it out.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import numpy as np

In [3]:
df=pd.read_csv('Carsales.csv')

In [4]:
df.head(10)

,Unnamed: 0,car,price,body,mileage,engV,engType,registration,year,model,drive,class
0,0,Ford,15500.0,crossover,68.0,2.50,Gas,yes,2010,Kuga,full,Luxury
1,1,Mercedes-Benz,20500.0,sedan,173.0,1.80,Gas,yes,2011,E-Class,rear,Luxury
2,2,Mercedes-Benz,35000.0,other,135.0,5.50,Petrol,yes,2008,CL 550,rear,Super Luxury
3,3,Mercedes-Benz,17800.0,van,162.0,1.80,Diesel,yes,2012,B 180,front,Luxury
4,4,Mercedes-Benz,33000.0,vagon,91.0,2.57,Other,yes,2013,E-Class,rear,Super Luxury
5,5,Nissan,16600.0,crossover,83.0,2.00,Petrol,yes,2013,X-Trail,full,Luxury
6,6,Honda,6500.0,sedan,199.0,2.00,Petrol,yes,2003,Accord,front,Economy
7,7,Renault,10500.0,vagon,185.0,1.50,Diesel,yes,2011,Megane,front,Luxury
8,8,Mercedes-Benz,21500.0,sedan,146.0,1.80,Gas,yes,2012,E-Class,rear,Luxury
9,9,Mercedes-Benz,22700.0,sedan,125.0,2.20,Diesel,yes,2010,E-Class,rear,Luxury

In [5]:
df.columns

Index(['Unnamed: 0', 'car', 'price', 'body', 'mileage', 'engV', 'engType',
       'registration', 'year', 'model', 'drive', 'class'],
      dtype='object')

In [7]:
df.shape

(9463, 12)

In [8]:
df.isna().sum()

Unnamed: 0      0
car             0
price           0
body            0
mileage         0
engV            0
engType         0
registration    0
year            0
model           0
drive           0
class           0
dtype: int64

In [9]:
df.describe()

        Unnamed: 0          price      mileage         engV         year
count  9463.000000    9463.000000  9463.000000  9463.000000  9463.000000
mean   4791.495720   15948.897726   143.428036     2.637925  2006.525837
std    2759.201583   23754.171644    95.855789     6.002845     7.062584
min       0.000000     259.350000     0.500000     0.100000  1953.000000
25%    2406.500000    5450.000000    77.000000     1.600000  2004.000000
50%    4792.000000    9500.000000   130.000000     2.000000  2008.000000
75%    7174.500000   16999.000000   195.000000     2.500000  2012.000000
max    9575.000000  547800.000000   999.000000    99.990000  2016.000000

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.shape

(9463, 12)

Here it can be seen that outliers are present in the
* Mileage
* Price
* engV

and categorical variable to be fix are
* drive
* engType

In [22]:
#fixing engV
#function to fix outliers
def exclude_outliers_engV(): 
    return pd.DataFrame(df([(df.engV>0.5) & (df.engV<25)]))

def compute_engV_mean(r):
    car_make=r.name[0]
    car_model=r.name[1]
    if r.count()>0:
        return round(r.mean(),2)
    else:
        engV_df=exclude_outliers_engV()
        engV=engV[engV_df.car==car_make].engV
        if engV_make_count()>0:
            return round(engV_make.mean(),2)
        else:
            return round(engV_df.engV.mean(),2)
        

engV_mean=df.groupby(['car','model']).engV.apply(compute_engV_mean).reset_index()
engV_mean.rename(columns={'engV':'engV_avg'},inplace=True)
engV_mean.head(5)

     car model  engV_avg
0  Acura   MDX      3.62
1  Acura    RL      3.50
2  Acura    TL      3.20
3  Acura   TLX      2.40
4  Acura   ZDX      3.70

In [23]:
#function to return the engV value for missig records
def get_missing_engV(r):
    if pd.isnull(r.engV):
        return engV_mean[(engV_mean.car==r.car)&(engV_mean.model==r.model)].engV_avg.values[0]
    else:
        return r.engV
    
print(df[df.engV.isnull()].shape)

df.engV=df.apply(get_missing_engV,axis=1)
print('-------After Fixing------------')
print(df[df.engV.isnull()].shape)

(0, 12)
-------After Fixing------------
(0, 12)